In [51]:
%matplotlib inline
import os, sys, gc
import numpy as np
import matplotlib.pyplot as plt
import csv
import pandas as pd
from IPython.display import display, HTML

In [52]:
load_dir = 'human/1.0'
print(os.listdir(load_dir))
ignore = ['w86a7f6a', 'we8453df', 'w85a4c6c', 'w93c8b0c', 'wb4d0e59', 'w8fe1e0c', 'w8488b17', 'w2bc1e74']

['participants.csv', 'html-button-response-filtered.csv', 'html-button-response.csv', 'survey-multi-select.csv', 'html-keyboard-response.csv']

In [67]:
responses = pd.read_csv("{}/html-button-response.csv".format(load_dir), index_col=0, squeeze=True)
responses = responses[responses.task != 'response']
for wid in ignore:
    responses = responses[responses.wid != wid]
len(responses)
responses = responses.drop(columns=['time_elapsed', 'trial_type', 'question_order'])

In [68]:
for i, row in responses.iterrows():
    ifor_val = row['stimulus'].split('images/')
    try:
        v1 = ifor_val[1][0]
        v2 = ifor_val[2][0]
        if v1 == 'T':
            val = v2
        else:
            val = v1
        responses.at[i,'stimulus'] = val
    except Exception as E:
        continue

In [69]:
responses

        stimulus  response        task       wid
rt
19318.5        D         3  response_R  wf0b51ce
2953.4         C         5  response_L  wf0b51ce
2597.0         A         6  response_L  wf0b51ce
2612.6         B         2  response_L  wf0b51ce
3296.1         A         7  response_R  wf0b51ce
...          ...       ...         ...       ...
8557.7         D         0  response_R  w6004c42
7841.0         A         6  response_L  w6004c42
2947.6         A         6  response_R  w6004c42
6411.6         D         0  response_L  w6004c42
6971.1         C         4  response_R  w6004c42

[192 rows x 4 columns]